<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<context:annotation-config />
	<context:component-scan base-package="Model" />
	<context:component-scan base-package="Controller" />
	<context:component-scan base-package="view" />
	
	<!--  멀티파트 요청 처리용 빈 등록 / 파일용  -->
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		id="multipartResolver">
		<property name="uploadTempDir" value="/temp"></property>
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="-1"></property>
		</bean>
	
	
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="1"/>
	

	<!-- 뷰이름을 등록된 타일에서도 검색을 할수 있게됨. / 실제 타일을 정의내리고 만드려면 타일API가 필요함. -->
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
		p:order="8" />
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles/advance-config.xml</value>
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/views/" p:suffix=".jsp" p:order="9" />


	<!-- orm setting -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="datasource">
		<property name="password" value="oracle"></property>
		<property name="user" value="master"></property>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.10.1:1521:xe"></property>
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"></property>
	</bean>
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mappers/*-mapper.xml</value>
			</list>
		</property>
		<property name="dataSource" ref="datasource" />
	</bean>



</beans>
